/* footer */

.logowite {
  width: 140px;
  height: 32px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.join-ico:hover {
  color: var(--btn-color);
  cursor: pointer;
}
